
/* importing selected fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Inter&display=swap');


/* 20 PX = 1 REM */
html {
    font-size: 20px
}


body {
    background-color: #ffffff;
}


/* TEXT STYLING */
.bought {
    text-decoration: line-through;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #1a1a1a;   
    padding-left: 4.25rem;    
}


/* HEADER INSIDE OF SHOPPING LIST) */
header {
    font-size: 3rem;
    font-family: 'Gloria Hallelujah', sans-serif;
    color: #ED7D2B;
    padding: 2rem 0 2rem 0;
    text-align: center;
}

#header-box {
    background-color: #ED7D2B;
    opacity: 90%;
    margin: auto;
    width: 33rem; 
    border-radius: 0.75rem 0.75rem 0 0;
    padding: 1rem 2rem 0.5rem 2rem;
}


/* INPUT FORM */
/* inspiration from: https://blog.logrocket.com/how-to-style-forms-with-css-a-beginners-guide/ */
#input-add-item {
    background-color: #FFFFFF;
    box-sizing: border-box;
    border-style: none; 
    height: 3.5rem;
    width: 20rem;
    padding: 1rem 1rem;
    margin: 1rem 2rem; 
    border-radius: 0.75rem;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #1a1a1a; 
    box-shadow: 1px 2.5px 4px 1px #d06d26;
}


/* BUTTONS */
#btn-add-item {
    height: 3.5rem;
    width: 3.5rem;  
    border-radius: 50%;
    border-style: none; 
    background-color: #FFFFFF;
    cursor: pointer;
    box-shadow: 1px 2.5px 4px 1px #d06d26;
}

#btn-add-item:hover {
    background-color: #FCF9F7;
}

.btn-delete-all-items {
    background-color: #D66060;
    border-radius: 0.75rem;
    border-style: none;
    padding: 1rem 2rem;
    margin: 2rem 0;
    font-family: 'Inter', sans-serif; 
    font-size: 1rem;
    color: #FFFFFF;
    box-shadow: 1px 2.5px 4px 1px #e5e5e5; /* drop shadow for elements */
}

.flex-delete-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-delete-all-items:hover {
    background-color: #cd3d3d;
    cursor: pointer;
}

.btn-delete-item-red, .btn-buy-item {
    border: none;
    background: none;
    margin: 0 0.4rem;
}

.btn-delete-item-red {
    padding-left: 16rem;
}

/* BODY OF SHOPPING LIST APP */
#body-box {
    background-color: #FCF9F7;
    margin: auto;
    width: 33rem;
    height: 40rem;
    border-radius: 0 0 0.75rem 0.75rem;
    padding: 2rem 0 0 0;
}

#body-box ul {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    list-style: none;
    align-content: center;
}

#body-box ul li {
    background-color: #FFFFFF;
    border-radius: 0.75rem;
    height: 3.5rem;
    width: 25.75rem;
    padding: 1rem 1rem;
    margin: 1rem 4rem;
    box-shadow: 1px 2.5px 4px 1px #e5e5e5;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

hr {
    width: 40%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0.05rem solid #B8B8B8;
    opacity: 40%;
}







